<section class="discussion">
    <div class="rows">
        <h2>Follow the Discussion</h2>
    </div>

    <div class= "secondary-card-wrapper">
        <div class="secondary-cards slack">
            <img src="/images/icons/secondary/slack.svg">
            <h3>Join us on Slack</h3>
            <p><a href="https://join.slack.com/t/ethereum-baseline/shared_invite/zt-d6emqeci-bjzBsXBqK4D7tBTZ40AEfQ" target="_blank">Join Slack Discussions <img src="/images/icons/link/external-link.svg" class="link-icon"></a></p>
        </div>

        <div class="secondary-cards">
            <img src="/images/icons/secondary/telegram.png">
            <h3>Join us on Telegram</h3>
            <p><a href="https://t.me/baselineprotocol" target="_blank">Join Telegram Discussions <img src="/images/icons/link/external-link.svg" class="link-icon"></a></p>
        </div>

        <div class="secondary-cards">
            <img src="/images/icons/secondary/discord.svg">
            <h3>Join us on Discord</h3>
            <p><a href="https://discord.gg/NE8AYD7" target="_blank">Join Discord Discussions <img src="/images/icons/link/external-link.svg" class="link-icon"></a></p>
        </div>

        <div class="secondary-cards">
            <img src="/images/icons/secondary/twitter.svg">
            <h3>Follow us on Twitter</h3>
            <p><a href="https://twitter.com/baselineproto" target="_blank">View the Latest on Twitter <img src="/images/icons/link/external-link.svg" class="link-icon"></a></p>
        </div>

        <div class="secondary-cards">
            <img src="/images/icons/secondary/youtube.svg" class="youtube">
            <h3 class="youtube">Follow us on YouTube</h3>
            <p><a href="https://www.youtube.com/channel/UCPkZ73TH69tMBaC111wxHYw/playlists" target="_blank">View the Explainers <img src="/images/icons/link/external-link.svg" class="link-icon"></a></p>
        </div>
    </div>

    <div class="rows">
        <p>You can also <a href="https://lists.oasis-open-projects.org/g/baseline" target="_blank">Join our Mailing List</a> to stay up to date.  Have something else in mind?  Email <a href="mailto:op-admin@oasis-open.org">op-admin@oasis-open.org</a> for more information.</p>
    </div>




</section>
