<section class="discussion">
    <div class="rows">
      <h2 class="dib">Latest Release</h2>
      <p class="dib ml7-ns"><a href="{{ .Site.BaseURL }}releases">View All</a></p>
    </div>
    {{ range first 1 (where .Site.RegularPages "Section" "releases") }}
      <div class="horizontal-banner">
        <div class="banner-card">
            <div class="left-side">
              <div class="img-container">
                <img src="{{ .Params.image }}">
              </div>
            </div>
            <div class="banner-content">
              <h3>{{ .Params.headline }}</h3>
              <p>{{ .Params.description }}</p>
              <p><a href="{{ .Site.BaseURL }}releases/{{.Params.slug}}/">See it in action</a></p>
            </div>
          </div>
        </div>
    {{ end }}
</section>
