<section class="discussion">
    <h2>New Release</h2>
    <a href="https://www.baseline-protocol.org/baseline-sap-dynamics-demo/">
      <div class="horizontal-banner">

        <div class="banner-card">
            <div class="left-side">
              <div class="img-container">
                <img src="/images/sap-dynamic-demo_heroBg.jpg">
              </div>
            </div>
            <div class="banner-content">
              <h3>New! SAP / Dynamics 365 Integration Demo</h3>
              <p>Baselining Business Process Automation across SAP and Microsoft Dynamics</p>
              <p><a href="https://www.baseline-protocol.org/baseline-sap-dynamics-demo/">See it in action</a></p>
            </div>
          </div>
        </div>
    </a>
</section>
