<section class="leadership">
    <div class="row slim">
        <div class="border-bottom">
            <h2>Project Governing Board & Technical Leadership</h2>
            <p>Governance for the Baseline project is managed by the Ethereum OASIS Project Governing Board and its Technical Steering Committee. These two groups ensure that all stakeholders have a voice in decisions affecting the work and that the contributions of developers, corporate supporters, and technology consumers are all valued.</p>
        </div>
    </div>
    <div class="row slim">
        <div class="left-side">
            <h3>Project Governing Board (PGB)</h3>
            <p>The Project Governing Board provides top-level guidance and strategic direction for Baseline. The Board includes representatives from Ethereum OASIS Open Project Sponsors that have committed to the Entity Contributor Licensing Agreement. Learn how to join the Ethereum OASIS Project Governing Board.</p>
            <h4>Current PGB members:</h4>
            <ul class="membership">
                <li>Daniel Burnett, ConsenSys</li>
                <li>Tas Dienes, Ethereum Foundation</li>
                <li>Charles ‘Chaals’ Neville, Enterprise Ethereum Alliance</li>
            </ul>
        </div>
        <div class="right-side">
            <h3>Technical Steering Committee (TSC)</h3>
            <p>The TSC directs the day-to-day technical activities of Baseline. TSC members include representatives from the developer community who are actively contributing to the project.</p>
            <h4>Current TSC members:</h4>
            <ul class="membership">
                <li>Eric Bravick, Code Convergence</li>
                <li>Brian Chamberlain, ConsenSys</li>
                <li>Johann Eid, Chainlink</li>
                <li>Hudson Jameson, Ethereum Foundation</li>
                <li>Nate McKervey, Splunk</li>
                <li>Stefan Schmidt, Unibright</li>
                <li>Kartheek Solipuram, Ernst & Young</li>
                <li>Conor Svensson, Web3Labs</li>
                <li>Kyle Thomas, Provide</li>
                <li>Zachary Williamson, Aztec</li>
                <li>John Wolpert, ConsenSys, TSC Chair</li>
            </ul>
        </div>
    </div>
</section>
