

<section class="discussion">
      <h2>EEA Community Projects Sponsors</h2>
  {{ range where .Site.RegularPages "Section" "sponsors" }}
    <div class="sponsor-list-logo">
      <a href="{{ .Params.company_url }}" class="dib grow">
          <img src="{{ .Params.logo }}" alt="Logo from {{ .Params.company_name }}">
      </a>
    </div>
  {{ end }}
  <div class="rows">
    <p>You can also <a href="https://lists.oasis-open-projects.org/g/baseline" target="_blank">Join our Mailing List</a> to stay up to date.  Have something else in mind?  Email <a href="mailto:op-admin@oasis-open.org">op-admin@oasis-open.org</a> for more information.</p>
  </div>
</section>
