{{ define "main" }}
{{ partial "baseline_banner.html" . }}
    <section class="">
          <div class="hero-content">
              <div class="left-side">
                  <a href=" {{ .Site.BaseURL }}"><img src="/images/icons/arrow-left.svg"></a>
                  <a href=" {{ .Site.BaseURL }}" class="home">HOME</a>
              </div>
              <div>
                <h1 class="mb0">Latest News & Releases</h1>
                <p class="mt0 mb4">The latest developments in the baseline community</p> 
              </div>
              {{ $releases := where .Site.RegularPages "Section" "releases" }}
              {{ $news := where .Site.RegularPages "Section" "news"}}
              {{ $filtered := $releases | union $news }}
              <div class="latest-wrapper">
              <div class="newest-card">
                {{ range $filtered.ByDate.Reverse }}
                  {{ if eq .Type "news" }}
                    <a href="{{ .Site.BaseURL }}news/{{ .Params.slug }}"><img src="{{ .Params.image }}"></a>
                    <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
                    <h2><a href="{{ .Site.BaseURL }}news/{{ .Params.slug }}">{{ .Params.title }}</a></h2>
                    {{ .Params.blurb | markdownify }}
                    <p><a href="{{ .Site.BaseURL }}news/{{ .Params.slug }}">Read More</a></p>
                    <div><hr></div>
                  {{ else if eq .Type "releases" }}
                    <a href="{{ .Site.BaseURL }}releases/{{ .Params.slug }}"><img src="{{ .Params.image }}"></a>
                    <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
                    <h2><a href="{{ .Site.BaseURL }}releases/{{ .Params.slug }}">{{ .Params.title }}</a></h2>
                    {{ .Params.blurb | markdownify }}
                    <p><a href="{{ .Site.BaseURL }}releases/{{ .Params.slug }}">Read More</a></p>
                    <div><hr></div>
                  {{ end }}
                {{ end }}
              </div>
              </div>
          </div>
    </section>
  {{ end }}