{{ define "main" }}
{{ partial "baseline_banner.html" . }}
    <section class="">
          <div class="hero-content">
              <div class="left-side">
                  <a href=" {{ .Site.BaseURL }}"><img src="/images/icons/arrow-left.svg"></a>
                  <a href=" {{ .Site.BaseURL }}" class="home">HOME</a>
              </div>
              <div>
                <h1 class="mb0">Latest Release</h1>
                <p class="mt0 mb4">The latest developments in the baseline community</p> 
              </div>
              <div class="latest-wrapper">
              <div class="newest-card">
                {{ range first 1 (where .Site.RegularPages "Section" "releases") }}
                    <a href="{{ .Site.BaseURL}}releases/{{ .Params.slug }}"><img src="{{ .Params.image }}"></a>
                    <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
                    <h2><a href="{{ .Site.BaseURL}}releases/{{ .Params.slug }}">{{ .Params.title }}</a></h2>
                    {{ .Content }}
                {{ end }}
              </div>
              <div class= "channel-card-wrapper">
                  <h3 class="mt0 mb2">Follow the Discussion</h3>
                  {{ partial "discussion-channels-secondary.html" . }}
                  <div class="rows">
                    <p>You can also <a href="https://lists.oasis-open-projects.org/g/baseline" target="_blank">Join our Mailing List</a> to stay up to date.  Have something else in mind?  Email <a href="mailto:op-admin@oasis-open.org">op-admin@oasis-open.org</a> for more information.</p>
                </div>
              </div>
            </div>
              <div><hr></div>
              <div>{{ partial "releases.html" . }}</div>
    </section>
</div>
{{ end }}
